<!DOCTYPE html>
<html>
    <title>
        Homepage
    </title>
    <head>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">Home</a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/a">TEST</a></li>
                </ul>

                </div>
    </head>
    <body>
        Hi! Welcome to my blog. 
    </body>
</html>
